.mySkillsBlock {
  display: block;
  width: 100%;
  padding-top: 120px;
  text-align: center;
  margin-bottom: 120px;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
  z-index: -1000;
}

.title {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 20px;
}

.buttonsBlock {
  margin-top: 60px;
  margin-bottom: 80px;
}

.btn {
  display: inline-block;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: 300;
  margin: 0 30px;
  position: relative;
  cursor: pointer;
  color: #000;
}

.active::before {
  content: "";
  position: absolute;
  display: block;
  width: 85px;
  height: 3px;
  background-color: #000;
  top: 31px;
  left: 50%;
  transform: translateX(-50%);
}

.skillsWrapper {
  /* background-color: red; */
}

.skillsBlock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.horisontalWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.horisontalWrapper:first-child {
  margin-bottom: 90px;
}

.skillsContainer {
  margin: 0 50px;
  text-align: left;
  flex-basis: 375px;
  max-width: 375px;
}

.skillsContainerTitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 46px;
}

.skillsContainerSkill {
  width: 100%;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 26px;
  line-height: 27px;
  color: #555;
}

.skillsContainerSkill:last-child {
  margin-bottom: 0;
}

.hide {
  display: none;
}

@media screen and (max-width: 980px) {
  .horisontalWrapper {
    flex-direction: column;
  }

  .horisontalWrapper:first-child {
    margin-bottom: 70px;
  }

  .skillsContainer {
    margin-top: 70px;
    flex-basis: auto;
  }

  .skillsContainer:first-child {
    margin-top: 0px;
  }

  .skillsContainerTitle {
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 650px) {
  .skillsContainer {
    margin-left: 10px;
    margin-right: 10px;
  }

  .skillsContainerSkill {
    font-size: 17px;
  }
}
