@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato/Lato-Light.ttf");
  font-display: swap;
  font-style: normal;
  /* font-weight: light; */
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato/Lato-Regular.ttf");
  font-display: swap;
  font-style: normal;
  /* font-weight: regular; */
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../public/fonts/Lato/Lato-Bold.ttf");
  font-display: swap;
  font-style: normal;
  /* font-weight: bold; */
  font-weight: 700;
}
