.wrapper {
  overflow: hidden;
}

.fastReview {
  padding-top: 110px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 0.1em;
  word-spacing: 5px;
  font-weight: 400;
  line-height: 24px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  background-color: #ccc;
  margin: auto;
  margin-top: 46px;
  box-sizing: border-box;
  position: relative;
}

.work {
  flex-grow: 1;
  width: 25%;
  height: 100%;
  position: relative;
}

.work:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.work > .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.1em;
  overflow: hidden;
}

.work > .content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
}

.darkBg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #00000099;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.1em;
  user-select: none;
}

.darkBg > img {
  padding-top: 5px;
  padding-left: 10px;
}

@media screen and (max-width: 1050px) {
  .works {
    max-width: 600px;
  }

  .work {
    width: 50%;
  }
}
